<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="POO_2022_1"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\lilit\OneDrive\Documentos\faculdade\2022-1\poo\projetopoo\Persistence\Persistence\App_Data\DBprojetopoo.mdf;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>